﻿@model IEnumerable<Comfy.Models.BonusCardViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td style="display:flex">
                        @Html.ActionLink("Edit", "EditBonusCard", new { id = item.Id })
                        @if (item.ExpireDate < DateTime.Now)
                        {
                            <div style="width:70%">Card expired</div>
                        }
                        else
                        {
                            <div style="width:70%">@Html.ActionLink("Add transaction", "AddTransactionBonusCard", new { id = item.Id })</div>
                        }
                        @Html.ActionLink("Delete", "DeleteBonusCard", new { id = item.Id })
                    </td>
                </tr>
                }
            }
            else
            {
                <text>no results</text>
            }
        }

    </tbody>
</table>
