﻿@{
    ViewData["Title"] = "Home Page";
}

<div></div>

<script>
    $(document).ready(function () {
        function showAlert(msg) {
            $('#alertMessage').append(msg);
            $('#alertMessage').fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(5000).css('display', 'block');
        }
        showAlert('@ViewBag.StatusMessage');
    })
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <form asp-controller="Home" asp-action="Index" data-ajax="true" data-ajax-method="POST" data-ajax-update="results">
            <label for="id" style="margin:10px">Search card </label>
            <input type="text" id="id" name="id" placeholder="input card number" />

            <label for="phone" style="margin:10px">by phone </label>
            <input type="text" id="phone" name="phone" placeholder="input phone number" />
            <input type="submit" value="Search" id="searchButton" />
            <label>Total: @ViewData["TotalCards"] cards</label>
            <p>
                <a asp-action="CreateBonusCard">Create new bonus card</a>
            </p>
        </form>
    </div>
    <div id="results">
        <partial name="CardSearch" />
    </div>

    <form asp-controller="Home" asp-action="FillBaseCards">
        <p>
            <input type="submit" value="Fill base by sample bonus cards" />
        </p>
    </form>
    <form asp-controller="Home" asp-action="ClearBaseCard">
        <p>
            <input type="submit" value="Clear card base" />
        </p>
    </form>
    @*<partial name="CreateBonusCard" />*@
    <p>Learn more about <a href="https://comfy.ua/ua/">Comfy</a></p>
    <div id="alertMessage" class="alert-success"> </div>
</div>



